* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.name {
    padding: 5%;
}
html, body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Montagu Slab', serif;
    line-height: 1.6;
    margin: 0;
}
.top-background {
    background-color: azure;
    margin: 0;
}
/* .main-header {
    border: 1;
    background-color: azure;
    padding: 1em 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
} */
.main-nav {
    text-align: center;
}
.contact{
    width: 70%;
    margin-top: 2rem;
}
.contact, .main-footer {
    text-align: center;
    padding: 2em 0;
    background-color: azure;
    width: 100%;
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    padding: 5%;
}
h1, h2 {
    text-align: center;
}
h2 {
    font-size: 1em;
}
p {
    font-size: .75em;
    margin:1rem;
    text-align: center;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: black;
}
.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.logo {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.logoimg{
    width: 65vw;
    padding: 5%;
    margin: auto;
}
img {
    width: 100%;
    align-items: center;
    /* min-width: 320px; */
}
.pic{
    align-items: center;
    max-width: 300px;

}
#portfolio {
    padding: 10%;
    text-align: center;
}
.button {
    background-color: white;
    border: 1px solid white;
    display: block;
    padding: 5%;
    margin: 3px 15px;
    text-decoration: none;
}
.foot-name {
    flex-direction: row;
    justify-content: space-between;
}
footer { 
    display: flex; 
    align-items: center;
    justify-content: space-between;
    height: 100px; 
    border-top: 1px solid grey; 
    width: 90vw; 
    margin: auto; }

.back-to-top {
    font-size: 1rem;
    color: black;
    font-weight: 400;
}
.contact-footer {
    background-color: azure;
}
.foot {
    display: none;
}
@media (min-width: 768px) {
    .main-header, .main-nav {
        display: flex;
    }
    .main-header {
        flex-direction: column;
        align-items: center;
    }
    .button {
        background-color: azure;
        border-style: none;
        padding: 1%;
        margin: 5px;
    }
    .logo {
        display: flex;
        flex-direction: row-reverse;
        align-content: flex-start;
        padding: 4%;
        justify-content: center;
    }
    .logoimg {
        padding: 0;
        width: 40%;
    }
    .hello {
        font-size: 1.25rem;
        text-align: left;
        margin: auto;
    }
    .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    img {
        max-width: 340px;
        padding: 1%;
        margin: 5px;
    }
    .pic {
        max-width: 350px;
    }
    .stuff {
        max-width: 350px;
    }
    #portfolio {
        padding: 5%;
    }
    h2 {
        margin: 15px;
    }
    .para {
        margin: 10px;
        text-align: center;
        align-items: center;
    }
    .back-to-top {
        display:none;
    }
    .contact {
        padding: 0;
    }
    .contactp {
        font-size: 20px;
        text-align: center;
        align-items: center;
        margin: auto;
        max-width: 75%;
    }
    p {
        font-size: 15px;
    }
    .foot {
        display: inline-block;
        text-decoration: none;
        margin: 5px;
    }
}


@media (min-width: 1024px) {
    .top-background {
        background-color: azure;
        width: 100%;
    }
    header {
        width: 100%;
    }
    .main-header {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: auto;
        max-width: 1100px;
        height: 120px
        
    }
    .main-nav {
        padding-right: 2.5rem;
    }
    .name {
        padding-left: 2rem;
    }
    .hello {
        padding-left: 2rem;
    }
    .logo {
        display: flex;
        width: 90vw;
        margin: auto;
        padding: 0 0 1rem 0;
        max-width: 1100px;
    }
    .logoimg {
        padding-right: 2rem;
    }
    .button {
        margin-left: 3px;
        padding: 1%;
    }
    .container {
        max-width: 90vw;
        margin: auto;
    }
    img {
        max-width: 280px;
        margin: 5px;
        padding: 1%;
    }
    .stuff {
        max-width: 290px;
    }
    .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    main {
        max-width: 1100px;
        width: 90vw;
        margin: auto;
    }
    footer {
        max-width: 1100px;
        width: 90vw;
        margin: auto;
    }
    .contact-footer {
        max-width: 1100px;
        width: 90vw;
        margin: auto;
    }
    footer h2 {
        padding-left: 40px;
    }
    .foot {
        padding-right: 40px;
    }
}